server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         www.{{dominio_site}};
    set                 $base /var/www/{{dominio_site}}/;
    root                $base/public_html;

    # SSL
    ssl_certificate     /etc/letsencrypt/live/www.{{dominio_site}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.{{dominio_site}}/privkey.pem;

    # security
    include             /etc/nginx/security.conf;

    # index.php
    index               index.php;

    # index.php fallback
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    # additional config
    include /etc/nginx/general.conf;
    include /etc/nginx/magento.conf;

    # handle .php
    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php7.4-fpm.sock;
        include      /etc/nginx/php_fastcgi.conf;
    }
}

# non-www, subdomains redirect
server {
    listen              443 ssl http2;
    listen              [::]:443 ssl http2;
    server_name         .{{dominio_site}};

    # SSL
    ssl_certificate     /etc/letsencrypt/live/www.{{dominio_site}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/www.{{dominio_site}}/privkey.pem;
    return              301 https://www.{{dominio_site}}$request_uri;
}

# HTTP redirect
server {
    listen      80;
    listen      [::]:80;
    server_name .{{dominio_site}};
    return      301 https://www.{{dominio_site}}$request_uri;
}
